asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
beautifulsoup4==4.15.0
branca==0.8.2
cbor2==6.1.4
certifi==2026.7.22
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.5.1
cloudpickle==3.1.2
constantly==23.10.4
contourpy==1.4.0
cryptography==50.0.1
cycler==0.12.1
daphne==4.2.3
Django==6.1.1
django-debug-toolbar==8.0.0
django-redis==7.0.0
folium==0.20.0
fonttools==4.65.0
GeoAlchemy2==0.20.0
geographiclib==2.1
geopandas==1.1.4
geopy==2.5.0
greenlet==3.5.6
hyperlink==21.0.0
idna==3.20
Incremental==24.11.0
Jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
libpysal==4.15.0
mapclassify==2.11.0
Markdown==3.10.3
MarkupSafe==3.0.3
matplotlib==3.11.2
msgpack==1.2.2
mysqlclient==2.3.0
narwhals==2.26.0
networkx==3.7
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
platformdirs==4.11.12
pointpats==2.6.0
psycopg==3.3.6
psycopg-binary==3.3.6
pyarrow==25.0.1
pyogrio==0.13.0
pyOpenSSL==26.4.0
pyparsing==3.3.3
pyproj==3.8.0
python-dateutil==2.9.0.post0
redis==8.1.0
requests==2.34.2
scikit-learn==1.9.1
scipy==1.18.1
service-identity==26.1.0
shapely==2.1.2
six==1.17.0
soupsieve==2.9.2
SQLAlchemy==2.0.54
sqlparse==0.6.0
threadpoolctl==3.7.0
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
ujson==6.0.0
urllib3==2.8.0
xyzservices==2026.9.1
zope.interface==8.6
