<nav class="cd-nav" style="{{ style }}">
  <a class="cd-nav__brand display-lg" href="{% url 'home' %}" style="font-size: 22px"
    >CoderDojo</a
  >
  <ul class="cd-nav__links">
    <li><a class="cd-nav__link label" href="{% url 'home' %}">Home</a></li>
    <li><a class="cd-nav__link label" href="{% url 'event_list' %}">Events</a></li>
    <li><a class="cd-nav__link label" href="{% url 'dojo_list' %}">Dojos</a></li>
    <li><a class="cd-nav__link label" href="{% url 'login' %}">Log in</a></li>
    <li><a class="cd-nav__link label" href="{% url 'guardian_detail' guardian_id=1 %}">My Account</a></li>
    <li><a class="cd-btn cd-btn--primary label" href="{% url 'register' %}">Sign up</a></li>
  </ul>
</nav>
