{% extends "dojos/_admin_base.html" %}
{% load i18n %}
{% block admin_page_title %}{% translate "New event" %}{% endblock %}
{% block admin_heading %}{% translate "New event" %}{% endblock %}

{% block admin_extra_style %}
<style>
  .event-create-form { max-width: 720px; }
</style>
{% endblock %}

{% block admin_content %}
  <div class="event-create-form">
    <form class="cd-form" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="cd-form__notes">
          {% for error in form.non_field_errors %}
            <p class="cd-form__note cd-form__note--error">{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% include "dojos/partials/_event_form_fields.html" %}

      <div class="cd-form__actions">
        <a class="cd-btn cd-btn--ghost label" href="{% url 'dojo_event_list' dojo_id=dojo.id %}">{% translate "Cancel" %}</a>
        <button type="submit" class="cd-btn cd-btn--primary label">{% translate "Create event" %}</button>
      </div>

    </form>
  </div>
{% endblock %}
